

.jumbotron { 
    background-color: #551A8B; /* purple4 */
    color: #ffffff;
    padding-top:25px;
   /* padding-bottom: 5px;*/
    margin-bottom:0;    
}

.container-fluid {
	padding-top:25px;
    padding: 5px 5px;
    margin-top:0; 
}

.navbar {
    margin-bottom: 0;
    background-color: #551A8B;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.42857143 ;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #551A8B ;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }

/* Add an purple color to all icons and set the font-size */
.logo-small {
    color: #551A8B;
    font-size: 50px;
}

.logo {
    color: #551A8B;
    font-size: 200px;
}  

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #551A8B;
}
img .noborder {
    border: none;
	align: center;
    max-width: 100%;
    height: auto;
}


